# 제어문

## 조건문(if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

1. `if`문은 반드시 참/거짓을 판단할 수 있는 `조건식`과 함께 사용
2. `조건식`이 참인 경우 `:` 이후의 문장 실행
3. `조건식`이 거짓인 경우 : `else:` 이후의 문장을 실행

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/26

크리스마스가 아닙니다.

In [6]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력해주세요 :  4

짝수입니다.

In [8]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  87678

짝수입니다.

In [9]:
# num을 2로 나눈 나머지는 0,1 두가지가 있다.
# if 조건식에 0,1은 자동형변환이 일어나 False, True로 변환
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 :  434

짝수입니다.

### elif

```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [14]:
score = int(input())

# 90이상 A(95이상이라면 good 추가)
# 80이상 B
# 70이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('good')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 98

A
good

### 조건표현식
```python
true value if <조건식> else false value
```

In [9]:
print('True') if 1 < 0 else print('False')

False

In [10]:
num = 5

if num >= 0:
    value = num
else:
    value = 0
    
print(value)

5

In [11]:
num = -5
value = num if num >= 0 else 0

In [12]:
print(value)

0

In [13]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [15]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'

print(result)

홀수

## 반복문

### while문
```python
while <조건식>:
    실행할 코드
```

In [18]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1
    # 조건을 탈출할 수 있는 조건을 넣지 않으면 무한루프 생셩됨

0
1
2
3
4

In [19]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  안냥
안녕이라고 해줘 :  안뇽
안녕이라고 해줘 :  안농
안녕이라고 해줘 :  안녕

### for
정해진 범위 내의 반복

```python
for variable in sequence:
    실행할 코드 
```

In [21]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [22]:
word = input('단어를 입력해주세요 : ')

for char in word:
    print(char)

단어를 입력해주세요 :  apple

a
p
p
l
e

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [29]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
# 2. 1~30까지 숫자 중에서 홀수를 모아서 리스트로 출력

for i in range(1, 30):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [34]:
numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [33]:
num_list = []

for i in range(1, 30):
    if i % 2 == 1:
        num_list[] = i
    print(num_list)

IndexError: list assignment index out of range

In [35]:
numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [40]:
menus = ['라면', '김밥', '떡볶이', '돌솥비빔밥']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돌솥비빔밥

In [41]:
for i in range(len(menus)):
    print(menus[i])

라면
김밥
떡볶이
돌솥비빔밥

In [43]:
for item in enumerate(menus):
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돌솥비빔밥')

In [44]:
# enumerate 사용시 인덱스와 값을 동시에 출력할 수 있음

In [45]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돌솥비빔밥

#### dictionary 반복
1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [48]:
info = {
    'name': 'hansol',
    'location': 'daejeon',
    'phone' : '2323',
}

In [49]:
for key in info:
    print(key)
    print(info[key])

name
hansol
location
daejeon
phone
2323

In [51]:
blood_type = {
    'A' : 5,
    'B' : 4,
    'O': 2,
    'AB' : 3,
}

In [53]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [54]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [57]:
result = 0
for value in blood_type.values():
    result = result + value
    # result += value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [63]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

#### break
반복문을 종료시키는 키워드

In [66]:
for i in range(100):
    print(i)
    if i > 10:
        print('10 넘었어!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10 넘었어!

In [67]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다 요놈')
        break

보리
보리
보리
보리
쌀
잡았다 요놈

#### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [70]:
for i in range(10):
    if i % 2:
        continue
        
    print(i)

0
2
4
6
8

In [72]:
age = [10, 23, 4, 3, 56]

for a in age:
    if a > 20:
        print(f'{a}살은 성인입니다.')
    continue

23살은 성인입니다.
56살은 성인입니다.

#### else
else문은 끝까지 반복이 진행된 후 실행(break)를 만나지 않은 경우

In [76]:
for i in range(12):
    print(i)
    if i >10:
        break
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [77]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)

True

In [88]:
numbers = [1, 2, 3, 4, 5]
target = 7

for number in numbers:
    if number == target:
        print('True')
        break
    
else:
    print('False')

False

In [89]:
if True:
    pass

### match
```python
match value:
    case 조건:
        실행할코드
    case 조건:
        실행할코드
    case _:
        실행할코드
```

In [90]:
status = 404
match status: 
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

not found