In [4]:
print('hello')

hello

In [5]:
''.join(['일', '이', '삼'])

'일이삼'

In [6]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 문자열 메소드

In [ ]:
객체 안에 들어있는 함수 => 메소드

In [10]:
a = 'hello my name is hansol'

In [2]:
# 문자열은 immutable하기 때문에 수정 불가능
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [11]:
print(a.capitalize())
print(a)

Hello my name is hansol
hello my name is hansol

In [12]:
a.title()

'Hello My Name Is Hansol'

In [13]:
a.upper()

'HELLO MY NAME IS HANSOL'

In [14]:
a.lower()

'hello my name is hansol'

In [15]:
print(a)

hello my name is hansol

In [ ]:
# 연산만하고 return해줌, 값 자체를 수정하진 않음

In [17]:
my_list = ['hi', 'my', 'name']
print(''.join(my_list))
print('??'.join(my_list))

himyname
hi??my??name

In [18]:
# .strip([chars])
# [] -> [] 내부를 넣어도 되고 안넣어도 됨, 넣으면 넣은 걸 지우고 안넣으면 공백을 지워줌
# 문자열 좌우의 공백을 제거함(줄바꿈, white space 등)
my_string = '       hello\n   '
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihihihellohihi'
print(my_string2.strip())
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

       hello

hello
hihihihihihellohihi
ello
ellohihi
hihihihihihello

In [19]:
# .replace(old, new[, count])
# old를 찾아서 new로 바꿔줌(count만큼)
a = 'wooooooooow'
print(a.replace('o', '!', 3))
print(a)

w!!!oooooow
wooooooooow

In [20]:
# .find(x)
# 찾는 문자의 위치를 반환해줌
# 찾는 문자가 여러곳에 위치해있다면 처음만나는 위치를 반환
# 없으면 -1 반환

a = 'apple'
print(a.find('l'))
print(a.find('p'))
print(a.find('z'))

for i in range(len(a)):
    if 'p' == a[i]:
        print(i)
        break
    else:
        print(-1)

3
1
-1
-1
1

In [21]:
# .index(x)
# .find와 유사하지만 찾는 문자가 없으면 오류 발생
a = 'apple'
print(a.index('a'))
print(a.index('z'))

0

ValueError: substring not found

In [22]:
# .split(x)
# x를 기준으로 분할, x입력 안하면 공백을 기준으로 분할
a = 'my_name_is'
a.split('_')

['my', 'name', 'is']

In [23]:
# .count(x)
# 문자열 내부의 x의 갯수 반환
'wooooooow'.count('o')

7

# 리스트 메소드

In [24]:
numbers = [1, 5, 2, 6, 2, 1]

In [27]:
# .append(x)
numbers.append(10)
print(numbers)

[1, 5, 2, 6, 2, 1, 10, 99, 100, 10]

In [28]:
# .extend(iterable)
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 5, 2, 6, 2, 1, 10, 99, 100, 10, 99, 100]
[1, 5, 2, 6, 2, 1, 10, 99, 100, 10, 99, 100, 99, 100]

In [29]:
# .insert(idx, x)
# 특정 위치에 집어 넣기
numbers.insert(3, 3.5)
print(numbers)

[1, 5, 2, 3.5, 6, 2, 1, 10, 99, 100, 10, 99, 100]

In [30]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

[1, 5, 2, 6, 2, 1, 10, 99, 100, 10, 99, 100]

In [32]:
# .pop([idx])
# 리스트의 마지막 요소 또는 인덱스에 해당하는 데이터를 빼냄
numbers.pop()
print(numbers)

numbers.pop(0)
print(numbers)

[1, 5, 2, 6, 2, 1, 10, 99, 100, 10, 99]
[5, 2, 6, 2, 1, 10, 99, 100, 10, 99]

In [33]:
num = numbers.pop()
print(num)

99

In [34]:
# .sort()
# 원본 수정, return 없음
numbers = [1, 3, 4, 5, 2, 7, 10]
print(numbers)

print(numbers.sort())

print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 3, 4, 5, 2, 7, 10]
None
[1, 2, 3, 4, 5, 7, 10]
[10, 7, 5, 4, 3, 2, 1]

In [35]:
numbers = [1, 3, 4, 5, 2, 7, 10]
print(sorted((numbers)))
print(numbers)

# 메소드 아님(함수임). 원본 그대로, 정렬된 데이터 return

[1, 2, 3, 4, 5, 7, 10]
[1, 3, 4, 5, 2, 7, 10]

In [36]:
# .reverse()
# 리스트를 뒤집어줌, 원본 수정
# list slicing 이용해서 비슷한 결과 낼 수 있음
numbers = [1, 3, 4, 5, 2, 7, 10]
print(numbers)
numbers.reverse()
print(numbers)

numbers = numbers[  :  : -1 ]
print(numbers)

[1, 3, 4, 5, 2, 7, 10]
[10, 7, 2, 5, 4, 3, 1]
[1, 3, 4, 5, 2, 7, 10]

## list copy

In [37]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [38]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [39]:
copy_list[0] = 100

In [40]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

리스트를 copy한 경우 origin_list와 copy_list는 데이터가 저장된 같은 주소를 사용하므로, 
copy_list의 데이터가 바뀌면 origin_list의 데이터도 함께 바뀜

In [41]:
# 독립적인 리스트가 필요할 경우 list(a)나 a[:]를 이용해 리스트를 복사할 수 있음

a = [1, 2, 3]
# b = list(a) 
b = a[:]
b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [43]:
# 리스트 안에 리스트가 또 존재할 경우 a와 b 는 또 같은 주소를 가르키게 돼 모두 함께 수정됨

a = [1, 2, [99, 100]]
b = a[:]
# b = list(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [44]:
# deepcopy 리스트 안에 리스트가 있는 경우 리스트를 완전히 복사하고 독립적으로 사용하고 싶을때 사용
import copy
a = [1, 2, [99, 100]]
b = copy.deepcopy(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [45]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# [1, 8, 27, 1000] -> 세제곱 만들기

result = []

for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [47]:
# for 뒤를 먼저 실행한 후에 앞을 실행함
result2 = [ number ** 3 for number in numbers ]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
# 짝수만 고르기
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)

print(even_list)

[2, 4, 6, 8, 10]

In [49]:
# 짝수만 고르기(list comprehension)
even_list2 = [ number for number in numbers if number % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [50]:
words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng

In [51]:
# 1. for문
result = []
for char in words:
    if char not in vowels:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [52]:
# 2. list comprihension
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [53]:
words = 'my name is hong'
vowels = 'aeiou'

for vowel in vowels:
    words = words.replace(vowel, '')

print(words)

my nm s hng

In [54]:
words = 'My Name Is Hong'
vowels = 'aeiou'

result = [char for char in words if char not in vowels if char.isupper()]
print(result)
print(''.join(result))

['M', 'N', 'I', 'H']
MNIH

## 딕셔너리 메소드

In [55]:
info = {
    'name' : 'hansol',
    'location' : 'seoul',
}

In [56]:
info['name'] = 'Kim'
print(info)

{'name': 'Kim', 'location': 'seoul'}

In [57]:
# .pop(key[, default])
# 해당하는 키의 value를 pop하며 원본 수정
print(info)
print(info.pop('location'))

print(info)
print(info.pop('location', 'None'))

{'name': 'Kim', 'location': 'seoul'}
seoul
{'name': 'Kim'}
None

In [58]:
# .update(key=value)
info.update(name='park')
print(info)

{'name': 'park'}

In [59]:
# .get(key[, default])
# 데이터를 가져오기만 함. 원본 수정안함
# 해당하는 값이 없으면 none 반환
print(info.get('name'))
print(info.get('phone'))
print(info.get('phone', '해당키가 없습니다.'))

park
None
해당키가 없습니다.

## dict comprehension

In [60]:
# for 
# {1: 1, 2: 8, 3: 27...}
result = {}
numbers = range(1, 11)
for number in numbers:
    result[number] = number ** 3


print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [61]:
# comprehension
# for 뒷부분에서 앞부분의 key:value를 넣음
result2 = {number: number ** 3 for number in range(1, 11) }
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [62]:
#
dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20,    
}

In [63]:
# 1. for
result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v

print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [64]:
# 2. comprehension
result2 = {k : v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 50, '광주': 80}

# 세트 메소드

In [72]:
fruits = {'apple', 'banana', 'melon'}

In [73]:
# .add()
# 세트는 인덱스 접근 불가하므로 정렬되지 않은 데이터가 나옴
# 하나의 데이터가 중복 존재할 수 없음
fruits.add('watermelon')
print(fruits)

{'watermelon', 'melon', 'apple', 'banana'}

In [74]:
# .update()
# 괄호 안에 하나의 값만 넣을 경우시퀀스 형태의 데이터를 하나하나 잘라서 요소를 업데이트함 
# 여러 개의 값을 업데이트해줘야함
fruits.update('grape')
print(fruits)
fruits.update({'grape', 'orange'})
print(fruits)

{'p', 'e', 'banana', 'watermelon', 'apple', 'melon', 'g', 'a', 'r'}
{'p', 'e', 'banana', 'watermelon', 'apple', 'orange', 'melon', 'g', 'a', 'r', 'grape'}

In [71]:
# .pop
fruits.pop()
print(fruits)

{'p', 'banana', 'watermelon', 'apple', 'orange', 'melon', 'g', 'a', 'r', 'grape'}

## map, filter, zip

- map(function, iterable)

In [75]:
# map(function, iterabl한 객체)
a = [1, 2, 3]
number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x10638ebc0>
['1', '2', '3']

In [77]:
def cube(x):
    return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [80]:
result = []
for i in a:
    result.append(i ** 3)

print(result)

[1, 8, 27]

In [81]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [82]:
a = '1 3 5 7 9'
#numbers = [1, 3, 5, 7, 9]
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
    - filter에 들어가는 function은 T/F를 반환해야함

In [83]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False

    #return bool(x % 2)로 해도 됨
    
print(is_odd(5))
print(is_odd(10))

True
False

In [84]:
numbers = [1, 2, 3, 4, 5]

In [85]:
# for 
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)
        
print(result)

[1, 3, 5]

In [86]:
# filter
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip

In [87]:
a = [1, 2, 3, 4]
b = [100, 200, 300, 400]

In [88]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x106867080>
[(1, 100), (2, 200), (3, 300), (4, 400)]