In [ ]:
print('hello')

In [ ]:
''.join(['일', '이', '삼'])

In [ ]:
dir(1)

# 문자열 메소드

In [ ]:
객체 안에 들어있는 함수 => 메소드

In [ ]:
a = 'hello my name is hansol'

In [ ]:
# 문자열은 immutable하기 때문에 수정 불가능
a[0] = 'H'

In [ ]:
a = a.capitalize()
print(a)

In [ ]:
a.title()

In [ ]:
a.upper()

In [ ]:
a.lower()

In [ ]:
print(a)

In [ ]:
# 연산만하고 return해줌, 값 자체를 수정하진 않음

In [ ]:
my_list = ['hi', 'my', 'name']
print(''.join(my_list))
print('??'.join(my_list))

In [ ]:
# .strip([chars])
# [] -> [] 내부를 넣어도 되고 안넣어도 됨, 넣으면 넣은 걸 지우고 안넣으면 공백을 지워줌
# 문자열 좌우의 공백을 제거함(줄바꿈, white space 등)
my_string = '       hello\n   '
print(my_string)
print(my_string.strip())

my_string2 = 'hihihihihihellohihi'
print(my_string2.strip())
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

In [ ]:
# .replace(old, new[, count])
# old를 찾아서 new로 바꿔줌(count만큼)
a = 'wooooooooow'
print(a.replace('o', '!', 3))
print(a)

In [ ]:
# .find(x)
# 찾는 문자의 위치를 반환해줌
# 찾는 문자가 여러곳에 위치해있다면 처음만나는 위치를 반환
# 없으면 -1 반환

a = 'apple'
print(a.find('l'))
print(a.find('p'))
print(a.find('z'))

for i in range(len(a)):
    if 'p' == a[i]:
        print(i)
        break
    else:
        print(-1)

In [ ]:
# .index(x)
# .find와 유사하지만 찾는 문자가 없으면 오류 발생
a = 'apple'
print(a.index('a'))
print(a.index('z'))

In [ ]:
# .split(x)
# x를 기준으로 분할, x입력 안하면 공백을 기준으로 분할
a = 'my_name_is'
a.split('_')

In [ ]:
# .count(x)
# 문자열 내부의 x의 갯수 반환
'wooooooow'.count('o')

# 리스트 메소드

In [ ]:
numbers = [1, 5, 2, 6, 2, 1]

In [ ]:
# .appent(x)
numbers.append(10)
print(numbers)

In [ ]:
# .extend(iterable)
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

In [ ]:
# .insert(idx, x)
# 특정 위치에 집어 넣기
numbers.insert(3, 3.5)
print(numbers)

In [ ]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

In [ ]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

In [ ]:
# .pop([idx])
# 리스트의 마지막 요소 또는 인덱스에 해당하는 데이터를 빼냄
numbers.pop()
print(numbers)

numbers.pop(0)
print(numbers)

In [ ]:
num = numbers.pop()
print(num)

In [ ]:
# .sort()
# 원본 수정, return 없음
numbers = [1, 3, 4, 5, 2, 7, 10]
print(numbers)

print(numbers.sort())

print(numbers)

numbers.sort(reverse=True)
print(numbers)

In [ ]:
numbers = [1, 3, 4, 5, 2, 7, 10]
print(sorted((numbers)))
print(numbers)

# 메소드 아님(함수임). 원본 그대로, 정렬된 데이터 return

In [ ]:
# .reverse()
# 리스트를 뒤집어줌, 원본 수정
# list slicing 이용해서 비슷한 결과 낼 수 있음
numbers = [1, 3, 4, 5, 2, 7, 10]
print(numbers)
numbers.reverse()
print(numbers)

numbers = numbers[  :  : -1 ]
print(numbers)

## list copy

In [ ]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [ ]:
print(origin_list)
print(copy_list)

In [ ]:
copy_list[0] = 100

In [ ]:
print(origin_list)
print(copy_list)

리스트를 copy한 경우 origin_list와 copy_list는 데이터가 저장된 같은 주소를 사용하므로, 
copy_list의 데이터가 바뀌면 origi_list의 데이터도 함께 바뀜

In [ ]:
# 독립적인 리스트가 필요할 경우 list(a)나 a[:]를 이용해 리스트를 복사할 수 있음

a = [1, 2, 3]
# b = list(a) 
b = a[:]
b[0] = 100

print(a)
print(b)

In [ ]:
# 리스트 안에 리스트가 또 존재할 경우 a와 b 는 또 같은 주소를 가르키게 돼 모두 함께 수정됨

a = [1, 2, [99, 100]]
b = a[:]
# b = list(a)

b[2][1] = 1000

print(a)
print(b)

In [ ]:
# deepcopy 리스트 안에 리스트가 있는 경우 리스트를 완전히 복사하고 독립적으로 사용하고 싶을때 사용
import copy
a = [1, 2, [99, 100]]
b = copy.deepcopy(a)

b[2][1] = 1000

print(a)
print(b)

## list comprehension

In [ ]:
numbers = list(range(1, 11))
print(numbers)

In [ ]:
# [1, 8, 27, 1000] -> 세제곱 만들기

result = []

for number in numbers:
    result.append(number ** 3)
print(result)

In [ ]:
# for 뒤를 먼저 실행한 후에 앞을 실행함
result2 = [ number ** 3 for number in numbers ]
print(result2)

In [ ]:
# 짝수만 고르기
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)

print(even_list)

In [ ]:
# 짝수만 고르기(list comprehension)
even_list2 = [ number for number in numbers if number % 2 == 0]
print(even_list2)

In [ ]:
words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng

In [ ]:
# 1. for문
result = []
for char in words:
    if char not in vowels:
        result.append(char)

print(result)
print(''.join(result))

In [ ]:
# 2. list comprihension
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

In [ ]:
words = 'my name is hong'
vowels = 'aeiou'

for vowel in vowels:
    words = words.replace(vowel, '')

print(words)

In [ ]:
words = 'My Name Is Hong'
vowels = 'aeiou'

result = [char for char in words if char not in vowels if char.isupper()]
print(result)
print(''.join(result))

## 딕셔너리 메소드

In [ ]:
info = {
    'name' : 'hansol',
    'location' : 'seoul',
}

In [ ]:
info['name'] = 'Kim'
print(info)

In [ ]:
# .pop(key[, default])
# 해당하는 키의 value를 pop하며 원본 수정
print(info)
print(info.pop('location'))

print(info)
print(info.pop('location', 'None'))

In [ ]:
# .update(key=value)
info.update(name='park')
print(info)

In [ ]:
# .get(key[, default])
# 데이터를 가져오기만 함. 원본 수정안함
# 해당하는 값이 없으면 none 반환
print(info.get('name'))
print(info.get('phone'))
print(info.get('phone', '해당키가 없습니다.'))

## dict comprehension

In [ ]:
# for 
# {1: 1, 2: 8, 3: 27...}
result = {}
numbers = range(1, 11)
for number in numbers:
    result[number] = number ** 3


print(result)

In [ ]:
# comp
# for 뒷부분에서 앞부분의 key:value를 넣음
result2 = {number: number ** 3 for number in range(1, 11) }
print(result2)

In [ ]:
#
dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20,    
}

In [ ]:
# 1. for
result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v

print(result)

In [ ]:
# 2. comp
result2 = {k : v for k, v in dust.items() if v >= 50}
print(result2)

# 세트 메소드

In [ ]:
fruits = {'apple', 'banana', 'melon'}

In [ ]:
# .add()
# 세트는 인덱스 접근 불가하므로 정렬되지 않은 데이터가 나옴
# 하나의 데이터가 중복 존재할 수 없음
fruits.add('watermelon')
print(fruits)

fruits.add('watermelon')
print(fruits)

In [ ]:
# .update()
# 괄호 안에 하나의 값만 넣을 경우시퀀스 형태의 데이터를 하나하나 잘라서 요소를 업데이트함 
# 여러 개의 값을 업데이트해줘야함
fruits.update('grape')
print(fruits)
fruits.update({'grape', 'orange'})

In [ ]:
# .pop
fruits.pop()
print(fruits)

## map, filter, zip

- map(function, iterable)

In [1]:
# map(function, iterabl한 객체)
a = [1, 2, 3]
number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x1040899f0>
['1', '2', '3']

In [2]:
def cube(x):
    return x **3

print(cube(5))
print(cube(10))

125
1000

In [3]:
result = []
for i in a:
    result.append(i ** 3)

print(result)

[1, 8, 27]

In [4]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [5]:
a = '1 3 5 7 9'
#numbers = [1, 3, 5, 7, 9]
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
    - filter에 들어가는 function은 T/F를 반환해야함

In [13]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False

    #return bool(x % 2)로 해도 됨
    
print(is_odd(5))
print(is_odd(10))

True
False

In [9]:
numbers = [1, 2, 3, 4, 5]

In [10]:
# for 
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)
        
print(result)

[1, 3, 5]

In [12]:
# filter
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip

In [17]:
a = [1, 2, 3, 4]
b = [100, 200, 300, 400]

In [18]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x1045725c0>
[(1, 100), (2, 200), (3, 300), (4, 400)]